
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.navbar-brand{margin-right: 30px;}
.navbar-nav a {
    margin: 0 20px 0 0;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar-nav a:hover{opacity: .8;}


