
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.navbar-brand{margin-right: 30px;}
.navbar-nav a {
    margin: 0 20px 0 0;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar-nav a:hover{opacity: .8;}


.card-header{position: relative; cursor: pointer;}
.card-header .btn-link{
    position: absolute;
    right: 0;
    top: 7px;
}
.card-header .fas{
    position: absolute;
    right: 20px;
    font-size: 16px;
    top: 50%;
    margin-top: -8px;
    color: #fff;
}
.card-header .fas:hover{
    opacity: .8
}
.card-header .action{
    position: absolute;
    right: 60px;
    background: #00bc8c;
    height: 47px;
    width: 47px;
    top: 0;
    display: none;
}
.card-header:hover{
    opacity: .8;
}
.card-header:hover .action{
    display: block;
}
.contacts .accordion{
    margin-bottom: 10px;
}
.contacts .card-header .btn{
    font-size: 18px;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.contacts .card-text:hover .fa-pen{display: inline-block;}
.contacts .card-text .fa-pen{
    margin-left: 10px;
    color: #aaa;
    cursor: pointer;
    display: none;
}
.contacts .fa-pen:hover{
    color: #00bc8c;
}
.card-header .fa-trash{right: 55px; top: 22px;}
.contacts .name-input{
    margin-top: 20px;
}
.card-header .edit-name .fas{
    position: static;
    margin-left: 10px;
    color: #aaa;
    cursor: pointer;
    display: none;
}
.card-header .edit-name .fas:hover{color: #00bc8c;}
.contacts .card-header:hover .fa-pen{display: inline-block;}